.widget-header {
    background: $blue;
    padding :1rem;
    display :flex;
    justify-content: space-between;
}
.widget {
    background: $lightblue;
}
.widget-header-title {
    margin :0
}
.widget__message {
    color :$off-white;
    margin :0;
    text-align: center;
    padding :1rem;
    border-bottom :0.2rem solid lighten($color:$lightblue, $amount: 10%)
}